.tb_slick_slider_wrapper_outer {
  padding-bottom: 40px;
  position: relative;
}

.tb_slick_slider_wrapper {
  position: relative;
  overflow: hidden;
}

.tb_slick_slider,
.tb_slick_slider_thumbnails {
	visibility: hidden;
	opacity: 0;
}

.tb_slick_slider.slick-initialized,
.tb_slick_slider_thumbnails.slick-initialized {
	visibility: visible;
	opacity: 1;
}

.tb_slick_slider .tb_slick_slider_slide {
  height: 45vw;
  max-height: 80vh;
  min-height: 500px;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	background-position: center;
}

.tb_slick_slider_thumbnails.slick-initialized {
  position: absolute;
  top: 0;
  left: 5%;
  bottom: 0;
  margin: auto;
  height: 80%;
}

.tb_slick_slider_thumbnails .slick-track,
.tb_slick_slider_thumbnails .slick-list {
  width: 100%;
  height: 100%;
}

.tb_slick_slider_thumbnails .slick-track {
	width: auto!important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tb_slick_slider_thumbnails .thumbnail_wrapper {
  width: 245px!important;
  height: 131px!important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.tb_slick_slider_thumbnails .slick-track .thumbnail_wrapper:last-child {
  margin-bottom: 0;
}

.tb_slick_slider_thumbnails .thumbnail_wrapper.slick-current.slick-active {
  border: 1px solid #707070;
}

.tb_slick_slider_thumbnails .thumbnail_wrapper:focus {
  outline: 0;
}

.tb_slick_slider_wrapper .top_image {
  position: absolute;
  right: 0;
  bottom: -35px;
  z-index: 19;
}

.badge_image {
  position: absolute;
  right: 0;
  bottom: -22px;
  z-index: 21;
}

@media (max-width: 992px) {
  .tb_slick_slider_thumbnails {
    display: none!important;
  }
}

@media (max-width: 767px) {
  .tb_slick_slider .tb_slick_slider_slide {
    height: 87vw;
    max-height: 80vh;
    min-height: auto;
  }

  .badge_image {
    position: absolute;
    right: 0;
    bottom: -12px;
    z-index: 21;
    max-width: 122px;
  }

  .tb_slick_slider_wrapper .top_image {
    position: absolute;
    right: -23px;
    bottom: -35px;
    z-index: 19;
    max-width: 78%;
  }
}